<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="longTimeoutBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00">
                <security mode="None"/>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://builder-pc:8733/DevelopserverService" binding="basicHttpBinding" bindingConfiguration="longTimeoutBinding" contract="DSServiceReference.IService" name="BasicHttpBinding_IService"/>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib;"/>
    </assemblyBinding>
  </runtime>
</configuration>
