<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://builder-pc:8733/HaspClearService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="HaspClearServiceReference.IService"
                name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib;"/>
    </assemblyBinding>
  </runtime>
</configuration>
